body {
  font-family: 'Noto Sans', sans-serif;
}


.footer .icon-link {
    font-size: 25px;
    color: #000;
}

.link-block a {
    margin-top: 5px;
    margin-bottom: 5px;
}

.dnerf {
  font-variant: small-caps;
}


.teaser .hero-body {
  padding-top: 0;
  padding-bottom: 3rem;
}

.teaser {
  font-family: 'Google Sans', sans-serif;
}


.publication-title {
}

.svg-container {
  display: inline-block;
  vertical-align: -0.25em;
  width: 1.2em;
  height: 1.2em;
  margin-left: -0.3em;
}


.publication-banner {
  max-height: parent;

}
.publication-venue-container {
  display: flex;         /* 启用 Flexbox 布局 */
  justify-content: center; /* 水平居中 */
  align-items: center;   /* 垂直居中 */
  text-align: center;    /* 确保文本内容居中 */
  margin-top: 1rem;      /* 添加顶部间距 */
  margin-bottom: 1rem;   /* 添加底部间距 */
}
.publication-venue {
  text-align: center;
  font-size: 1.2rem; /* 调整字体大小 */
  font-weight: bold; /* 加粗 */
  color: #555; /* 设置颜色为灰色 */
  margin-bottom: 1rem; /* 增加与其他部分的间距 */
}

.publication-banner video {
  position: relative;
  left: auto;
  top: auto;
  transform: none;
  object-fit: fit;
}

.publication-header .hero-body {
}

.publication-title {
    font-family: 'Google Sans', sans-serif;
}

.publication-authors {
    font-family: 'Google Sans', sans-serif;
}

.publication-venue {
    color: #555;
    width: fit-content;
    font-weight: bold;
}

.publication-awards {
    color: #ff3860;
    width: fit-content;
    font-weight: bolder;
}

.publication-authors {
}

.publication-authors a {
   color: hsl(204, 86%, 53%) !important;
}

.publication-authors a:hover {
    text-decoration: underline;
}

.author-block {
  display: inline-block;
}

.publication-banner img {
}

.publication-authors {
  /*color: #4286f4;*/
}

.publication-video {
    position: relative;
    width: 100%;
    height: 0;
    padding-bottom: 56.25%;

    overflow: hidden;
    border-radius: 10px !important;
}

.publication-video iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.publication-body img {
}

.results-carousel {
  overflow: hidden;
}

.results-carousel .item {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%; /* 确保每张图片占满容器 */
}

.results-carousel img {
  max-width: 100%;
  height: auto; /* 保持图片比例 */
  display: block;
  margin: 0 auto;
}


.results-carousel video {
  margin: 0;
}


.interpolation-panel {
  background: #f5f5f5;
  border-radius: 10px;
}

.interpolation-panel .interpolation-image {
  width: 100%;
  border-radius: 5px;
}

.interpolation-video-column {
}

.interpolation-panel .slider {
  margin: 0 !important;
}

.interpolation-panel .slider {
  margin: 0 !important;
}

#interpolation-image-wrapper {
  width: 100%;
}
#interpolation-image-wrapper img {
  border-radius: 5px;
}
